$footer-info-font : 'Helvetica Neue';
$footer-nav-font : 'Montserrat Bold';


@media (min-width:1200px) {
    .footer-nav{
        width: 750px !important;
    }
}

@media (min-width:992px) {
    .footer-nav{
        width: 600px;
    }
}

footer{
    box-shadow: 0 10px 50px 3px rgba($color: #000000, $alpha: .5);
}

.footer-info{
    font-family: $footer-info-font;
}

.footer-nav ul li a{
    font-family: $footer-nav-font;
    text-decoration: none;
    color: #242424;
}

.footer-icon{
    color: #242424;
    text-decoration: none;
}