$about-us-header-font: "Montserrat Bold";
$about-us-text-font: "Montserrat Medium";

@media (min-width: 768px) {
    .about-us-card {
        margin-bottom: 100px !important;
        &::after{
            border-bottom: 0 !important;
        }
    }

    .about-us-img {
        display: inline-block !important;
    }
}

.about-us-card {
    &::after{
        border-bottom: 3px solid rgba($color: #838383, $alpha: 0.6);
        width: 100%;
        margin-top: 30px;
        content: "";
    }
    &:last-child{
        &::after{
            border-bottom: 0;
        }
    }
}

.about-us-img {
    display: none;
}

.about-us-header {
    font-family: $about-us-header-font;
}

.about-us-text {
    font-family: $about-us-text-font;
}