$contact-us-form-font :'Helvetica Neue';
$contaxt-us-form-color : #90b928;

@mixin contact-us-btn {
    color: #fff;
    background-color: $contaxt-us-form-color;
}

@media (min-width: 768px) {
    #contact-us {
        margin-top: 170px;
        margin-bottom: 170px !important;
    }
}

#contact-us{
    margin-bottom: 70px;
    font-family: 'Montserrat';

    .map{
        height: 25rem;
    }

    .contact-us-adress{
        border: #1e1c1c 1px solid;
        .adress-header{
            font-family: "Montserrat Bold";
            padding: 1rem;
            background-color: #1e1c1c;
            color: #fff;
        }
        .adress-text{
            font-family: "Montserrat Medium";
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-right: 3rem;
            padding-left: 3rem;
        }
    }
}